.card-body{
    /* make two elements on same line */
    display: flex;
    justify-content: space-between;
}

.enterCategory{
    margin: 1em;
}

#category{
    margin: 1em;
}

.fa{
    cursor: pointer;
}
.fa:hover{
    color: red;
    transform:rotate(10deg);
}
h3{
    text-align: center;
    padding: 1em;
}
.icons{
    display: flex;
}
.update{
    padding-right: 1em;
}