<div class="container">
    <section class="enterCategory" *ngIf="(authService.Admin() || authService.superAdmin())">
    <form (ngSubmit)=" addCategory()">
        <div class="form-group">
            <label class="fw-bold" for="category">Enter Category :</label>
            <input class="border border-danger" [(ngModel)]="category" type="text" name="category" id="category">
            <button type="submit"  class="btn btn-danger">Add</button>
        </div>
    </form>
</section>

<section @fade class="viewCategory">
    <h3>Categories</h3>
<div class="row">
    <div class="col-md-3 mb-4  " *ngFor="let Category of Categories">
        <div class="card bg-success text-white">
            <div class="card-body">
                <h5 class="card-title">{{Category.category}}</h5>
                <div class="icons" *ngIf="(authService.Admin() || authService.superAdmin())">
                <div class="update">
                    <i (click)="openDialog(Category)" class="fa fa-solid fa-pencil"></i>
                </div>
                <div class="delete">
                        <i (click)="deleteCategory(Category)" class="fa fa-solid fa-trash-can "></i>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
</div>

