.card-body{
    /* make two elements on same line */
    display: flex;
    justify-content: space-between;
}

.enterCategory{
    margin: 1em;
}

#category{
    margin: 1em;
}

.fa{
    cursor: pointer;
}
.fa:hover{
    color: red;
    transform:rotate(10deg);
}