

#title{
    font-size:xx-large;
}

.draft{
    font-weight: light;
}

.row{
    margin-top: 1rem;
}

#button{
    border-radius: 10%;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    margin-bottom: 2em;
    display: inline-block;
    vertical-align: top;
}
#button:hover{
    background-color: rgb(3, 53, 3);
    color: white
}

.invalid{
    color:red;
    font-size: 14px;
}
.form-group{
    padding: 1em;
}
#disabled {
     color: gray;
     }
select{
        cursor: pointer;
        
     }