<div class="container">
    <div class="row">
    <div class="col draft">
        <p>Draft in {{username}}</p>
    </div>
        <div class="col-sm-12 text-center">
        <button class="btn btn-success" type="submit"  id="button" value="Submit" form="a-form">Save Changes</button>
        <button class="btn btn-warning" type="reset" (click)="resetContent()" id="button" value="reset" form="a-form">Reset</button>
        <button class="btn btn-danger" type="button" (click)="discard()" id="button" value="discard" form="a-form">Discard Changes</button>
    </div>
      
</div>

<form (ngSubmit)="onContentSubmit()" id="a-form" #stories = ngForm>
    <div class="form-group">
        <label for="title"></label>
        <input type="text" name="title" [(ngModel)]="title" id="title" class="form-control" placeholder="Title" required>
    </div>
    <div class="form-group">
        <select name="categories"  [(ngModel)]="categories"   class="form-control" placeholder="Title">
        <option >Choose a category</option>
        <option   value="{{Category.category}}" *ngFor="let Category of Categories">{{Category.category}}</option>
</select>
    </div>
    <div class="form-group">
        <label for="image"></label>
        <input type="url" name="image" id="image" [(ngModel)]="image" class="form-control" cols="20" rows="10" placeholder="Image URL">
    
        <div class="img">
            <img [src]="image" class="img-fluid" alt="Image">
        </div>
    </div> 
    <div class="form-group">
        <label for="post"></label>
        <textarea name="post" id="post" class="form-control" [(ngModel)]="post" cols="20" rows="10" placeholder="Tell your story..." required></textarea>
    </div> 
    
</form>
</div>
