<div class="mt-4 p-5 bg-primary text-white rounded text-center">
    <h1>Content Management System</h1>
    <p class="lead">Custom MEAN App</p>
    <div>
        <a routerLink="/register" class="btn btn-success">Register</a>
        <a routerLink="/login" class="btn btn-danger">Login</a>
        
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <h3>Express Backend</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at metus a lorem convallis fermentum vitae et orci. Nullam commodo nisl sit amet lectus elementum semper id sed elit. Curabitur ante velit, pretium eget arcu id, congue vehicula nisi. Suspendisse accumsan tempus convallis</p>
    </div>
    <div class="col-md-4">
        <h3>Angular CLI</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at metus a lorem convallis fermentum vitae et orci. Nullam commodo nisl sit amet lectus elementum semper id sed elit. Curabitur ante velit, pretium eget arcu id, congue vehicula nisi. Suspendisse accumsan tempus convallis</p>
    </div>
    <div class="col-md-4">
        <h3>JWT Tokens</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at metus a lorem convallis fermentum vitae et orci. Nullam commodo nisl sit amet lectus elementum semper id sed elit. Curabitur ante velit, pretium eget arcu id, congue vehicula nisi. Suspendisse accumsan tempus convallis</p>
    </div>
</div>
