.card{
    margin-top: 1em;
}

#category{
    margin: 1em;
}

#viewPosts{
    margin: 1em;
    margin-left : 0;
}

.chips{
    cursor: pointer;
}

.profilepic{
    border-radius: 50%;
}

/* limit text inside multiline p tag */
/* https://stackoverflow.com/questions/33058004/applying-an-ellipsis-to-multiline-text */
.contentpost{
    display: -webkit-box;
    max-width: 28em;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.link{
    color: blue;
    cursor: pointer;
}
.liked{
    color: red;
}
.disliked{
    color: white;
}
.likeicon{
   padding: 1em;

   text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}