
<div class="container">
  <section class="category">
    <h6 id="viewPosts">View Posts By :</h6>

  <!-- Mat Chips
  https://material.angular.io/components/chips/overview
  -->
  
  <mat-chip-list  aria-label="Category selection">
    <mat-chip class="chips" (click)="ngOnInit()" selected>All Categories</mat-chip>
    <mat-chip class="chips" color="accent" (click)="contentByCategory(Category)" *ngFor="let Category of Categories" selected>{{Category.category}}</mat-chip>
  </mat-chip-list>
  </section>
  <div class="row">
<div class="col-lg-4 mb-4 d-flex align-items-stretch" *ngFor='let content of contents'>
    <div class="card" >
        <img class="card-img-top img-fluid img-thumbnail" [src]="content.image" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{content.title}}</h5>
            <p class="card-text">{{content.post}}</p>
            <p class="card-text">category : {{content.category}}</p>

        </div>
        
        <div class="card-footer bg-transparent border-success">
          
            <p>Written By : {{content.authorName}}</p>
            <p>Created At : {{content.createdAt}}</p> 
        </div>
      </div>
    </div>
  </div>
  </div> 
