
<div class="container">
  <!-- Main Dashboard -->

       <!-- Category -->
  <section class="category">
    <h6 id="viewPosts">View Posts By :</h6>

  <!-- Mat Chips
  https://material.angular.io/components/chips/overview
  -->
  
  <mat-chip-list  aria-label="Category selection">
    <mat-chip class="chips" (click)="ngOnInit()" selected>All Categories</mat-chip>
    <mat-chip class="chips" color="accent" (click)="contentByCategory(Category)" *ngFor="let Category of Categories" selected>{{Category.category}}</mat-chip>
  </mat-chip-list>
  </section>
<!-- Contents -->
  <div class="row">
<div class="col-lg-4 mb-4 d-flex align-items-stretch" *ngFor='let content of contents'>
    <div class="card" >
      <div class="card-header">
      </div>
        <img class="card-img-top img-fluid img-thumbnail" [src]="content.image" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{content.title}}</h5>
            <p class="card-text contentpost">{{content.post}} </p>
            <p class="card-text link">  <a (click)="ViewContent(content)">Read More...</a> </p>
            
            <mat-chip-list>
              <mat-chip  color="accent" selected>{{content.category}}</mat-chip>
            </mat-chip-list>
        </div>
<div class="likeFeature">
  <abbr title="Like This Post">
  <i class="likeicon fa-border-color fa-solid fa-heart fa-xl" class="{{like? 'liked' : 'disliked'}}" style="cursor: pointer;" (click)="likeToggle()"></i>
</abbr>
</div>

        <button class="btn btn-primary" (click)="updateContent(content)" style="cursor:pointer" > Update</button>
            <button class="btn btn-danger"  (click)="delete(content)" style="cursor:pointer" > Delete</button>
        
        <div class="card-footer bg-transparent border-success">
            <p>Written By : {{content.authorName}}</p>
            <p>Created At : {{content.createdAt}}</p> 
        </div>
      </div>
    </div>
  </div>
    

    <!-- Author -->
    <!-- <div class="col-6 col-md-4 ">
      <div class="card" >
        <img class="card-img-top profilepic"  alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{username}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div> -->



  </div> 
