#yourposts{
    text-align: center;
    margin: 1em;
}
/* limit text inside multiline p tag */
/* https://stackoverflow.com/questions/33058004/applying-an-ellipsis-to-multiline-text */
.contentpost{
    display: -webkit-box;
    max-width: 28em;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.link{
    color: blue;
    cursor: pointer;
}