
<div class="container">

    <div class="row">
        <!-- Contents -->
        <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card" >
          <div class="card-body">
              <h1 class="card-title text-center">{{contents.title}}</h1>
              <mat-chip-list class="text-center mat">
                <mat-chip  color="accent" selected>{{contents.category}}</mat-chip>
              </mat-chip-list>
              <p>Written By : <strong>{{contents.authorName}}</strong></p>
              <p>Created At : <strong>{{contents.createdAt}}</strong></p>
          <img class="img-fluid l contentimage" [src]="contents.image" alt="Card image cap">
              <p class="card-text contentpost">{{contents.post}} </p>
          </div>
        </div>
      </div>
      
  
  
  </div>
    </div> 
  