<div class="lol" [ngStyle]="{'background': 'url(' + backgroundUrl + ')   0 / cover'}">
<div class="container-md" >

<h2 class="page-header">Create An Account</h2>
<br>
<div class="card">
<form (ngSubmit)="onRegisterSubmit()">
    <div class="form-group">
        <label for="name" >First Name</label>
        <span class="asterik"> *</span>
        <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control">
    </div>
    <div class="form-group">
        <label for="name">Last Name</label>
        <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control">
    </div>
    <div class="form-group">
        <label for="name">Gender</label>
        <input type="text" [(ngModel)]="gender" name="gender" class="form-control">
    </div>
    <div class="form-group">
        <label for="name">Phone Number</label>
        <span class="asterik"> *</span>
        <input type="text" [(ngModel)]="phone" name="phone" class="form-control">
    </div>
    <div class="form-group">
        <label for="name">Email</label>
        <span class="asterik"> *</span>
        <input type="text" [(ngModel)]="email" name="email" class="form-control">
    </div>
   
    <div class="form-group">
        <label for="name">Username</label>
        <span class="asterik"> *</span>
        <input type="text" [(ngModel)]="username" name="username" class="form-control">
    </div>
    <div class="form-group">
        <label for="name">Password</label>
        <span class="asterik"> *</span>
        <input type= "{{pwdType? 'password' : 'text'}}" id="myInput"  (keyup)="checkstrength()"  [(ngModel)]="password" name="password" class="form-control pwdIcon">
        <br>
        <!-- An element to toggle between password visibility -->
        <input type="checkbox" (click)="pwdToggle()">Show Password
        <br>  

        <span class="{{alertStyle}}" [innerHtml]="testhtml"></span>

        <li>Password must contain Minimum 8 characters, at least one uppercase, one lower case, and one number</li>
              <li>Add a special symbol (!@#$&*) for Medium strength</li>
              <li>Try to add more than 10 characters for a Stronger Password </li>
              <br>
    </div>
    <div class="form-group">
        <label for="name">Confirm Password</label>
        <span class="asterik"> *</span>
        <input type="password" [(ngModel)]="repeatPassword" name="repeatPassword" class="form-control">
    </div>
    <br>
    <input type="submit" class="btn btn-primary"  value="Signup">
    <br>
    <a id="already" routerLink="/login">Already Have An Account?</a>
</form>

</div>
</div>


