<div class="lol" [ngStyle]="{'background': 'url(' + backgroundUrl + ')   0 / cover'}">
<div class="container-fluid" >
<div class="row">
    <!-- Register -->
    <div class="col-lg-2"></div>
    <div class="register rounded col-sm-12 col-md-12 col-lg-8">
<br>
<div class="card">
<h2 class="page-header">Create An Account</h2>

<form (ngSubmit)="onRegisterSubmit()">
    <div class="form-group" >
        <label for="name" >First Name</label>
        <span class="asterik"> *</span>
        <input type="text"   [(ngModel)]="firstName" name="firstName" class="form-control">
        <span class="{{alertStyle}}" [innerHtml]="Namehtml"></span>
        
    </div>
    <div class="form-group">
        <label for="name">Last Name</label>
        <input type="text" class="{{borderLastName}}" [(ngModel)]="lastName"  name="lastName" class="form-control">
    </div>
    <div class="form-group">
        <label for="name">Gender</label>
        <input type="tel" [(ngModel)]="gender" name="gender" class="form-control">
    </div>
    <div class="form-group">
        <label for="name">Phone Number</label>
        <span class="asterik"> *</span>
        <input type="text"  [(ngModel)]="phone" name="phone" class="form-control">
        <span class="alertPhone">{{Phonehtml}}</span>
        
    </div>
    <div class="form-group">
        <label for="name">Email</label>
        <span class="asterik"> *</span>
        <input type="text"  [(ngModel)]="email" name="email" class="form-control">
        <span class="{{alertStyle}}" [innerHtml]="Emailhtml"></span>
        
    </div>
   
    <div class="form-group">
        <label for="name">Username</label>
        <span class="asterik"> *</span>
        <input type="text" [(ngModel)]="username" name="username" class="form-control">
    </div>
    <div class="form-group">
        <label for="name">Password</label>
        <span class="asterik"> *</span>
        <input  type= "{{pwdType? 'password' : 'text'}}" id="myInput"  (keyup)="checkstrength()"  [(ngModel)]="password" name="password" class="form-control pwdIcon">
        <br>
        <!-- An element to toggle between password visibility -->
        <input type="checkbox" (click)="pwdToggle()"> Show Password
        <br>  
<br>
        <span class="{{alertStyle}}" [innerHtml]="testhtml"></span>

        <li><strong>Password must contain Minimum 8 characters, at least one uppercase, one lower case, and one number</strong></li>
              <li>Add a special symbol (!@#$&*) for Medium strength</li>
              <li>Try to add more than 10 characters for a Stronger Password </li>
              <br>
    </div>
    <div class="form-group">
        <label for="name">Confirm Password</label>
        <span class="asterik"> *</span>
        <input type="password" [(ngModel)]="repeatPassword" name="repeatPassword" class="form-control">
    </div>
    <br>
    <input type="submit" class="btn btn-primary"  value="Signup">
    <br>
</form>
<a id="already" routerLink="/login">Already Have An Account?</a>

</div>
</div>
</div>
</div>


